@import '../../../../styles/variables.scss';

.ShowComment {
  @include flexSet();
  background-color: $section-background;

  .recommendLeaveComment {
    // display: none;

    .userAndComment {
      @include flexSet(space-between, center);
      margin-top: 20px;
      padding: 10px 20px;
      width: 975px;
      border: 2px solid $line;
      border-radius: 6px;
      background-color: white;

      div:first-child {
        @include flexSet();

        img {
          margin-right: 30px;
          width: 40px;
          border-radius: 50%;
        }
      }
      .leaveCommentButton {
        padding: 10px 80px;
        border: 2px solid $line;
        border-radius: 6px;
        font-size: 1.0625rem;
        font-weight: 700;
      }
    }
  }

  .modifyingComment {
    margin-right: 10px;
  }

  .recommendLeaveComment.active {
    display: block;

    button {
      cursor: pointer;
    }
  }
}
