@import '../../../../styles/variables.scss';

.mainSection {
  @include flexColumnSet();

  .mainTitle {
    padding: 12px 0px 14px;
    width: 100%;
    height: 55px;
    font-weight: 700;
    background-color: yellow;

    p {
      font-size: 22px;
      font-family: 'Oswald', sans-serif;
    }
  }

  .mainMovie {
    @include flexSet();
    background-color: skyblue;
  }
}
