@import '../../../../styles/variables.scss';
.mainSection {
  @include flexColumnSet();
  margin-bottom: 50px;
  width: 100%;
  padding: 0 50px;
  .mainTitle {
    padding: 12px 0px 14px;
    width: 100%;
    height: 55px;
    font-weight: 700;
    background-color: $white;
    p {
      font-size: 1.375rem;
      font-family: 'Oswald', sans-serif;
    }
  }
  .mainMovie {
    width: 100%;
    background-color: $white;
    overflow: hidden;

    ul {
      display: flex;
      justify-content: flex-start;
    }
  }
}
