@import '../../styles/variables.scss';

.formHeader {
  margin: 24px 0;
  height: 22px;
  font-size: 1.063rem;
  font-weight: 700;
}

.form {
  @include flexColumnSet;
  padding: 0 20px;

  .inputDiv {
    margin: 4px 0;
    height: 44px;

    .inputLabel {
      @include flexSet(space-between);
      width: 335px;
      background-color: $input-background;
      border-radius: 7px;

      input {
        all: unset;
        padding: 0 12px;
        width: 70%;
        height: 44px;
        border-radius: 7px;
        color: $search-bar-text;
        font-size: 1rem;
        font-weight: 500;
      }

      .deleteBtn {
        all: unset;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: $info-sub-text;
        border-radius: 50%;
        color: $wrong-background;
        font-size: 0.8125rem;
      }

      .warningIcon {
        display: inline-block;
        margin-left: 20px;
        width: 22px;
        height: 22px;
        border: 1px solid $wrong-red;
        border-radius: 50%;
        color: $wrong-red;
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
      }

      .warningInput {
        background-color: $wrong-background;
      }
    }

    .warningLabel {
      display: block;
      background-color: $wrong-background;
      border: 1px solid $wrong-red;
      border-radius: 7px;
    }

    p {
      display: none;
    }

    .warningText {
      display: block;
      padding: 6px 12px 4px 12px;
      width: 335px;
      color: $wrong-red;
      font-size: 0.8125rem;
    }
  }

  .warningInputDiv {
    height: 80px;
    line-height: 18px;
  }

  .loginSignInBtn {
    all: unset;
    margin-top: 20px;
    width: 335px;
    height: 44px;
    background-color: $hot-pink;
    border-radius: 5px;
    color: $white;
    font-size: 1rem;
    text-align: center;
  }
}

.lostPassword,
.suggestSignIn {
  color: $list-sub-gray;
  font-size: 0.9375rem;
  font-weight: 400;
}

.suggestLogin {
  margin-top: 20px;
}

.lostPassword {
  margin: 20px 0;
  height: 21px;
  color: $hot-pink;
}

.loginSignInLink {
  margin-left: 5px;
  color: $hot-pink;
}
