@import '../../styles/variables.scss';

.commonFooter {
  @include flexColumnSet;
  background-color: black;

  section:first-of-type {
    @include flexSet;
    height: 60px;
    color: white;
    font-size: 1.188rem;
    font-weight: 500;

    .footerCounter {
      color: $hot-pink;
    }
  }

  section:last-of-type {
    @include flexSet(space-between);
    width: 100%;
    height: 100px;
    background-color: #1c1d1f;
    color: rgba($color: #ffffff, $alpha: 0.7);

    .siteDescription {
      padding: 0 20px;
      font-size: 0.8125rem;

      li {
        margin-bottom: 10px;
        line-height: 14px;
        text-align: left;
      }
    }

    .memberDescription {
      li {
        display: inline-block;
        margin-right: 10px;

        span {
          color: rgba($color: #ffffff, $alpha: 0.7);
          font-size: 0.8125rem;
        }
      }
    }
  }
}
