@import '../../styles/variables.scss';

.modalContainer {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  @include flexSet;
  width: 100vw;
  height: 100vh;

  .modal {
    z-index: 999;
    @include flexSet;
    background-color: $white;
    border: 1px solid $line;
    border-radius: 7px;
  }

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}
