@import '../../styles/variables.scss';

.modalContainer {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flexSet;

  .modal {
    z-index: 999;
    @include flexSet;
    background-color: $white;
    border: 1px solid $line;
    border-radius: 7px;
  }

  .modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: 0.5);
  }
}
