@import '../../styles/variables.scss';

nav {
  @include flexSet(space-between);
  position: fixed;
  top: 0;
  background-color: white;
  height: 60px;
  width: 100vw;

  span {
    // @include flexSet(flex-start);
    // display: inline-flex;
    padding: 10px 20px;

    &:first-of-type {
      header {
        @include flexSet;
        margin-right: 20px;
        font-size: 30px;
        font-family: 'Oswald', sans-serif;

        span:first-of-type {
          margin-right: 5px;
          font-weight: 700;
          color: $hot-pink;
        }
      }

      ul {
        @include flexSet;
        color: $menu-normal-text;
        font-weight: 500;
      }
    }

    &:last-of-type {
      input {
        all: unset;
        width: 300px;
        height: 30px;
      }
    }
  }
}
