@import '../../styles/variables.scss';

.navBar {
  @include flexSet(space-between);
  padding: 10px 20px;
  width: 100%;
  background-color: white;

  .navLeft {
    @include flexSet;
    header {
      height: 44px;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;

      span:first-of-type {
        margin-right: 5px;
        font-weight: 700;
        color: $hot-pink;
      }
    }

    &.scrollDown {
      color: white;
      background-color: rgba($color: #000000, $alpha: 0);
    }

    .navMenu {
      color: $menu-normal-text;
      font-weight: 500;

      &.Clicked {
        color: $menu-bold-text;
        font-weight: 700;
      }
    }
  }
  .navRight {
    @include flexSet;

    .navSearch {
      position: relative;

      label {
        width: 300px;
        height: 35px;

        .searchIcon {
          position: absolute;
          top: 50%;
          left: 10px;
          color: $search-icon;
        }

        input {
          all: unset;
          margin-left: 10px;
          width: 100px;
          text-align: left;
          color: $search-bar-text;
          background-color: $input-background;
        }
      }
    }

    button {
      width: 30px;
      height: 30px;
      background-image: url('https://an2-glx.amz.wtchn.net/assets/default/user/photo_file_name_small-bc8b334acec6a4e386249dedf9e763b5e6aff523fa85cc29211f22e6bed540df.jpg')
        center center / cover no-repeat;
      border: 1px solid $line;
      border-radius: 50%;
    }
  }
}
