@import '../../styles/variables.scss';

.topNav {
  position: fixed;
  top: 0;
  @include flexSet(space-between, none);
  padding: 10px 20px;
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid $line;

  .logoMenu {
    @include flexSet(none);

    header {
      padding: 10px 20px;
      font-size: 30px;
      font-family: 'Oswald', sans-serif;

      span:first-of-type {
        margin-right: 5px;
        color: $hot-pink;
        font-weight: 700;
      }
    }

    .navMenu {
      color: $menu-normal-text;
      font-weight: 500;
    }
  }

  .searchUser {
    @include flexSet(none);

    label {
      position: relative;
      width: 300px;

      .topNavIcon {
        position: absolute;
        top: 5px;
        left: 10px;
        color: $search-icon;
      }

      input {
        all: unset;
        padding: 0 40px;
        width: 70%;
        height: 30px;
        background-color: $input-background;
        font-size: 13px;
      }
    }

    .navBtn {
      color: $menu-normal-text;
      margin: 0 5px;
    }
  }

  .navSignInBtn {
    margin-left: 10px;
    padding: 6px 15px;
    border: 1px solid $menu-normal-text;
    border-radius: 5px;
    color: $menu-bold-text;
  }

  .topNavHidden {
    display: none;
  }

  .navUserProfile {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
  }
}
