@import '../../styles/variables.scss';

.MovieDetail {
  .movieBannerSection {
    border-bottom: 1.5px solid $line;
  }

  .movieBannerPoster {
    height: 460px;
    background-image: linear-gradient(to right, black, white, black);

    .poster {
      height: 100%;
      background-size: contain;
      background-image: url('https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F256C8F3C525F2BC51B');
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .movieSimpleInformation {
    @include flexSet();
    background-repeat: no-repeat;
    height: 240px;
  }

  .movieSimpleInformationContents {
    display: flex;
    flex-wrap: wrap;
    width: 975px;
    height: 200px;
    position: relative;
    padding: 14px 16px 22px;

    img {
      display: block;
      position: relative;
      width: 200px;
      margin-right: 20px;
      bottom: 100px;
      border: 2px solid white;
      border-radius: 6px;
    }
  }

  .movieBookRating {
    position: absolute;
    top: -50px;
    left: 230px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8125em;
  }

  .movieSubject {
    width: 720px;
    h1 {
      font-size: 2.0625em;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  .movieGenre {
    color: $movie-info-text;
    font-size: 1.0625;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid $line;
  }

  .averageOfStarPoint {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1.5px solid $line;
  }

  .wishAndStarPoint {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    bottom: -20px;
  }

  .wishButton:hover .fa-plus {
    transform: rotate(90deg);
  }

  .wishButton {
    padding: 10px 80px;
    color: white;
    background-color: #ff2f6e;
    font-size: 1.0625em;
    font-weight: bold;
    border-radius: 10px;

    .fa-plus {
      display: inline-block;
      margin-right: 5px;
      transition: transform 0.5s;
    }
  }

  .giveStarPoint {
    position: relative;

    div:first-child {
      position: absolute;
      top: -20px;
      margin-bottom: 5px;
      color: $movie-info-text;
      font-size: 0.75em;
    }

    div:nth-child(2) i {
      font-size: 40px;
    }
  }

  .movieDetailContentsSection {
    @include flexSet();
    padding-top: 30px;
    background-color: $section-background;
  }

  .movieDetailContents {
    width: 975px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 6px;
    border: 2px solid $line;
  }

  .movieInformationContents {
    margin-bottom: 20px;
    border-bottom: 1.5px solid $line;
    padding-bottom: 20px;

    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      h2 {
        font-size: 1.3125em;
        font-weight: bold;
      }

      div a {
        color: #ff2f62;
      }
    }

    article {
      color: $info-main-text;

      div {
        margin-bottom: 20px;
      }

      p {
        line-height: 1.5;
      }
    }
  }

  .movieInformationContents span {
    display: block;
  }

  .comments {
    margin-bottom: 20px;
    border-bottom: 1.5px solid $line;
    padding-bottom: 20px;
  }

  .commentContents header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .commentSubjectAndCount {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $info-main-text;
    }

    h2 {
      margin-right: 10px;
    }
  }

  .commentSubjectAndCount {
    .commentComents header div:first-child {
      display: flex;
      flex-direction: row;
    }
  }

  .commentContents header h2 {
    font-size: 1.3125em;
    font-weight: bold;
  }

  .commentContents header div a {
    color: #ff2f62;
  }

  .similarMovieContents header h2 {
    font-size: 1.3125em;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
