@import './_variables.scss';

:root {
  font-size: 16px;
}

@include tablet {
  :root {
    font-size: 14px;
  }
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

button:hover {
  cursor: pointer;
}
