// 메인 페이지
// 순위 배경색, 네비 볼드체, 리스트 헤더
$dark-gray: #0f2632;
$hot-pink: #f12658;
$white: #ffffff;
// 리스트 아이템 텍스트
$list-main-gray: #292a32;
$list-sub-gray: #555765;
$search-bar-text: #74747c;
$search-icon: #c9c9cf;
$input-background: #f5f5f5;
$menu-bold-text: #353535;
$menu-normal-text: #7e7e7e;
//상세페이지
//첫번째 column
$title-text: #000000;
$movie-info-text: #7f7f7f;
$movie-rating-text: #282828;
$star-title: #a2a6a6;
$star-blank: #eeeeee;
$star-filled: #f9dd64;
$line: #ededed;
$section-background: #f8f8f8;
$info-main-text: #4a4a4a;
$info-sub-text: #9c9c9c;
$comment-background: #f2f2f2;
$comment-header-icon: #4a4a4a;
$comment-bottom-icon: #787878;
$section-aside-text: #a0a0a0;

@mixin flexSet($just: center, $align: center) {
  display: flex;
  justify-content: $just;
  align-items: $align;
}
@mixin flexColumnSet($just: center, $align: center) {
  display: flex;
  flex-direction: column;
  justify-content: $just;
  align-items: $align;
}
