@import '../../../styles/variables.scss';

.filterGenreMenu {
  padding: 15px;

  .menuTitle {
    position: relative;
    @include flexSet;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid $line;

    .menuClosedBtn {
      all: unset;
      position: absolute;
      left: 0px;
      color: $hot-pink;
      font-weight: 700;
      cursor: pointer;
    }
  }

  .menuLists {
    @include flexColumnSet(center, none);

    .menuSubTitle {
      margin: 20px 0 5px 0;
      font-size: 14px;
      color: $list-sub-gray;
    }
  }
}
