@import '../../styles/variables.scss';

.reviewSection {
  @include flexColumnSet;
  padding-top: 100px;
  height: 100vh;
  background-color: $section-background;

  .reviewHeader {
    @include flexColumnSet(space-between);
    background-color: white;
    border: 1px solid $line;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    .reviewCount {
      margin-top: 20px;
      height: 43px;
      color: black;
      font-size: 1.563rem;
      font-weight: 700;
    }

    .reviewNotice {
      margin-top: 10px;
      height: 43px;
      color: $movie-info-text;
      font-size: 0.85rem;
    }

    .reviewMenu {
      width: 640px;
      height: 43px;
      text-align: center;

      ul {
        @include flexSet;

        .reviewMenuList {
          position: relative;
          @include flexSet;
          margin-bottom: 10px;
          width: 33%;

          button {
            color: $movie-info-text;
            font-size: 0.9rem;

            &:hover {
              color: #fa2f6e;
              border-bottom-color: #fa2f6e;

              &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -17px;
                width: 200px;
                height: 2px;
                background: #fa2f6e;
              }
            }
          }
        }
      }
    }

    .reviewCategory {
      @include flexSet(none);
      width: 100%;
      height: 48px;
      border-top: 1px solid $line;

      .reviewCategoryBtn {
        padding-left: 20px;
        color: $comment-header-icon;
        font-size: 0.8rem;
      }
    }
  }

  .reviewList {
    @include flexColumnSet;
    width: 640px;
    height: 100vh;
    background-color: white;
    border: 1px solid $line;
    border-top: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      height: 100%;
    }
  }
}
